@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body, h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Poppins', sans-serif !important;
}

body {
  font-size: 18px;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 2.8rem !important;
  font-weight: 600 !important;
}

h3 {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

p {
  font-size: 1.1rem !important;
  line-height: 1.8 !important;
}

@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}